@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

/* 1920 1080 */
@media all and (min-width: 1920px) {

#content_container {
  border: 1px solid black;
  width: 70%;
  height: 100%;
  position: relative;
  top: 100px;
  left: 300px;
}

#content_container img {
  width: 50px;
}

#title {
  border: 1px solid black;
  width: 600px;
  height: 100px;
  position: relative;
  left: 50px;
}

.late_date {
  border: 1px solid black;
  width: 90%;
  height: 100px;
  margin: auto;
  line-height: 100px;
}

.late_date input {
  width: 30px;
  height: 30px;
  margin-top: 35px;
  margin-right: 35px;
  position: relative;
  float: right;
}

.late_list {
  border: 1px solid black;
  width: 90%;
  height: 70px;
  position: relative;
  margin: auto;

}











}