<!doctype html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/homework_upload.css' %}">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">



</head>
<body>
    <div id="topbar">
        <div id="logo_container">
            <img src="{% static 'img/index_logo.png' %}">
        </div>

        <div id="menu_icon_container">
            <input type="image" src="{% static 'img/noti.png' %}">
            <input type="image" src="{% static 'img/menu_icon.png' %}">
        </div>


        <div id="name_container">
            <img src="{% static 'img/topbar_profile.png' %}">
            김정일 선생님
        </div>

    </div>

    <div id="sidebar">
        <div class="sidebar_student">
            <img src="{% static 'img/sidebar_profile.png' %}">
            고유진
        </div>
    </div>

    <div id="left_sidebar">
        <div id="profile">
            <div class="profile_img_container">
                <img src="{% static 'img/topbar_profile.png' %}" width="100px" height="100px">
            </div>

            <div class="profile_text_container">
                안녕하세요<br>선린인터넷고등학교<br>김정일 선생님
            </div>
        </div>

        <div id="menu">
            <div id="menu_title">
                홈
            </div>
            <div class="menu_container">
            학생등교관리
            </div>
            <div class="menu_container">
            숙제관리
            </div>
            <div class="menu_container">
            지각체크
            </div>
            <div class="menu_container">
            메세지
            </div>
        </div>

        <div id="setting_container">
            <input type="image" src="{% static 'img/setting.png' %}">
        </div>
    </div>

    <div id="title">
            <img src="{% static 'img/late_menu.png' %}">
            숙제
    </div>
    <div id="textarea_container">
        <textarea id="textarea">

        </textarea>
    </div>

    <div id="btn_container">
        <input type="image" src="{% static 'img/btn_cancle.png' %}">
        <input type="image" src="{% static 'img/btn_upload.png' %}">
    </div>







